
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 25%;
    margin-top: 0;
    margin-bottom: 0;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
    border: 1px solid white;
}
tr:nth-child(even) > td {
    border: 1px solid white;
}