body    {
    background-image: linear-gradient(to top, #F2FCE2 0%, #E7FCF4 100%);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 25%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 10px;
    border-bottom: 5px solid green;

    /* Blue-colored Glowing effect */
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 50px #9ecaed;
}

thead   {
    background-color: #8080aa;
    color: white;
}
  
td, th {
    text-align: left;
    padding: 8px;
    text-align: center;
    min-width: 140px;
}

th  {
    padding-top: 20px;
    padding-bottom: 20px;
}

tr:hover    {
    background-color: #eee;
    outline: none;
    border-color: rgb(255, 136, 0);
    box-shadow: 0 0 10px rgb(255, 136, 0);
}

tr:nth-child(even) {
    background-color: #ddd;
    /* border: 1px solid white; */
}
/* tr:nth-child(even) > td {
    border: 1px solid white;
} */
tr:nth-child(even):hover {
    background-color: #ccc;
    outline: none;
    border-color: rgb(255, 136, 0);
    box-shadow: 0 0 10px rgb(255, 136, 0);
}

.low-vacancies  {
    color: red;
    background-color: #fcc;
}

.address    {
    width: 250px;
}

input   {
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
    /* background-color: green;
    color: orange; */
}
.loginPage {
    margin-left: 30vw;
    margin-top: 30vh;
}
.addDataPage {
    width: 40vw;
    margin-left: 15vw;
    margin-right: 5vw;
    padding-left: 15vw;
    padding-right: 5vw;
    margin-top: 2vh;
    padding-bottom: 5vh;
    border: 1px solid #888;
}
.submitButton   {
    margin-left: 4vw;
    width: 250px;
}
.addDataHeading  {
    margin-left: 6vw;
}


.refreshBtn {
    padding-top: 13px;
    color: rgb( 92,  95,  98);
}
.refreshBtn:hover {
    cursor: pointer;
}
.refreshText    {
    padding-top: 13px;
    font-size: 17px;
}