body    {
    background-image: linear-gradient(to top, #F2FCE2 0%, #E7FCF4 100%);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: 25%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 10px;
    border-bottom: 5px solid green;

    /* Blue-colored Glowing effect */
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 50px #9ecaed;
}

thead   {
    background-color: #8080aa;
    color: white;
}
  
td, th {
    text-align: left;
    padding: 8px;
    text-align: center;
    min-width: 140px;
}

th  {
    padding-top: 20px;
    padding-bottom: 20px;
}

tr:hover    {
    background-color: #eee;
    outline: none;
    border-color: rgb(255, 136, 0);
    box-shadow: 0 0 10px rgb(255, 136, 0);
}

tr:nth-child(even) {
    background-color: #ddd;
    /* border: 1px solid white; */
}
tr:nth-child(even) > td {
    /* border: 1px solid white; */
}
tr:nth-child(even):hover {
    background-color: #ccc;
    outline: none;
    border-color: rgb(255, 136, 0);
    box-shadow: 0 0 10px rgb(255, 136, 0);
}

.low-vacancies  {
    color: red;
    background-color: #fcc;
}

.address    {
    width: 250px;
}

input   {
    margin-top: 30px;
    background-color: green;
    border-radius: 10px;
    color: orange;
    padding: 10px;
}